@font-face {
  font-family: Bazoo Tow NF W01 Regular;
  src: url(Bazoo\ Tow\ NF\ W01\ Regular.ttf);
}

.dog-card-container {
  width: 40vw;
  margin: 0 auto;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(155, 25, 25);
  font-family: "Bazoo Tow NF W01 Regular";
  color: wheat;
}

.dog-card-img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.dog-card-nav {
  position: absolute;
  top: 8px;
  right: 16px;
}

.button .leftSideCard {
  font-family: "Bazoo Tow NF W01 Regular";
  color: rgb(155, 25, 25);
  position: absolute;
  left: 150px;
  width: 200px;
  height: 250px;
}

.button .rightSideCard {
  font-family: "Bazoo Tow NF W01 Regular";
  color: rgb(155, 25, 25);
  position: absolute;

  right: 150px;
  width: 200px;
  height: 250px;
}

.leftArrow {
  position: absolute;
  left: 150px;
  width: 150px;
  height: 120px;
  max-height: 20%;
  max-width: 20%;
}

.rightArrow {
  position: absolute;
  right: 150px;
  width: 150px;
  height: 120px;
  max-height: 20%;
  max-width: 20%;
}
.pawheart {
  text-align: center;
  max-height: 10%;
  max-width: 10%;
}
